@import "tailwindcss";

body {
  font-family: 'Space Mono', monospace;
  background-color: #000;
  color: #ffb347;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #ffb347;
  border-radius: 2px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
